<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manufacturer info</title>
</head>
<body>

<p th:text="${manufacturer.getId()}">VALUE</p>
<p th:text="${manufacturer.getName()}">VALUE</p>
<p th:text="${manufacturer.getCountry()}">VALUE</p>

<a th:href="@{/manufacturers/{id}/edit(id=${manufacturer.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/manufacturers/{id}(id=${manufacturer.getId()})}">
    <label>
        <input th:type="submit" value="Delete">
    </label>
</form>

</body>
</html>