<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Service List Edit</title>
</head>
<body>
<h1>List</h1>

    <p th:text="'Name - ' + ${currentObject.getName()}"></p>
    <p th:text="'Manufacture - ' + ${manufacture}"></p>
    <p th:text="'Model - ' + ${currentObject.getModel()}"></p>

<table>
    <thead>
    <tr>
        <th> documents</th>
        <th> fasteners</th>
        <th> tools</th>
        <th> consumables</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="document : ${documents}">
        <td><span th:text="${document.getName()}"> documents </span></td>
    </tr>
    <tr th:each="fastener : ${fasteners}">
        <td><span th:text="${fastener.getName()}"> fasteners </span></td>
    </tr>
    <tr th:each="tool : ${tools}">
        <td><span th:text="${tool.getName()}"> tools </span></td>
    </tr>
    <tr th:each="consumable : ${consumables}">
        <td><span th:text="${consumable.getName()}"> consumables </span></td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{/{link}/{id}/edit(link=${category}, id=${object.getId()})}">Edit</a>
<br>

<form th:method="DELETE" th:action="@{/{link}/{id}(link=${category}, id=${object.getId()})}">
    <label>
        <input th:type="submit" value="Delete">
    </label>
</form>

<form th:method="POST" th:action="@{/{link}/{id}/editServiceList(link=${category}, id=${object.getId()})}">
    <label>
        <input th:type="submit" value="Delete">
    </label>
</form>

</body>
</html>