<!DOCTYPE html>
<html lang="ru" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create part</title>
    <link href="/static/css/container.css" rel="stylesheet"/>
    <link href="/static/css/main.css" rel="stylesheet"/>
</head>
<body>
<header class="header">
    <h1>
        <div sec:authentication="principal.username"></div>
    </h1>
    <nav>
        <a th:href="@{/title}">На главную</a>
        <a th:href="@{/logout}">Log out</a>
    </nav>
</header>
<div class="main">
    <div class="container">
        <form enctype="multipart/form-data" th:action="@{/{link}(link=${category})}" th:method="POST"
              th:object="${serviceObject}">
            <div class="col-1-1">
                <br/>
                <label for="name">Название:</label>
                <input id="name" th:field="*{name}" type="text"/>
                <div style="color:red" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></div>
                <br/>
                <br/>
                <label for="description">Описание:</label>
                <input id="description" th:field="*{description}" type="text"/>
                <div style="color:red" th:errors="*{description}" th:if="${#fields.hasErrors('description')}"></div>
                <br/>
                <br/>
                <label for="link">Ссылка:</label>
                <input id="link" th:field="*{link}" type="text"/>
                <div style="color:red" th:errors="*{link}" th:if="${#fields.hasErrors('link')}"></div>
                <br/>
                <br/>
                <span th:object="${manufacturers}">
                        <label for="manufacturers">Производитель:</label>
                        <select id="manufacturers" name="manufacturer">
                            <option th:each="item : ${manufacturers}"
                                    th:text="${item.getName()}"
                                    th:value="${item.getId()}">
                            </option>
                        </select>
                    </span>
                <br/>
                <br/>
                <label for="model">Модель:</label>
                <input id="model" th:field="*{model}" type="text"/>
                <div style="color:red" th:errors="*{model}" th:if="${#fields.hasErrors('model')}"></div>
                <br/>
                <br/>
                <label for="partNumber">Серийный номер:</label>
                <input id="partNumber" th:field="*{partNumber}" type="text"/>
                <div style="color:red" th:errors="*{partNumber}" th:if="${#fields.hasErrors('partNumber')}"></div>
                <br/>
                <br/>
                <label for="picture">Загрузить новое изображение:</label>
                <br/>
                <input accept="image/*" id="picture" name="newImage" type="file"/>
                <br/>
                <br/>
                <span th:object="${allPictures}">
                        <label for="pictures">Выбрать из уже загруженных:</label>
                        <br/>
                        <select id="pictures" name="picture">
                            <option th:each="item : ${allPictures}"
                                    th:text="${item.getName()}"
                                    th:value="${item.getId()}">
                            </option>
                        </select>
                    </span>
                <br/>
                <br/>
            </div>
            <input type="submit" value="Создать!"/>
        </form>
    </div>
</div>
</body>
</html>