<!DOCTYPE html>
<html lang="ru" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of items</title>
    <link href="/static/css/center.css" rel="stylesheet"/>
    <link href="/static/css/table-no-border.css" rel="stylesheet"/>
    <link href="/static/css/border-block.css" rel="stylesheet"/>
</head>
<body>
<div class="main">
    <div class="center">
        <h1>
            <div sec:authentication="principal.username"></div>
            <br/>
            <br/>
            <br/>
        </h1>
        <h3>
            Созданные вами позиции:
        </h3>
    </div>
    <p></p>
    <div class="border-block">
        <table class="table-no-border">
            <tbody>
            <tr th:each="object : ${objects}">
                <td>
                    <img alt="Picture of item" th:src="@{/preview/{filename}(filename=${object.getValue()})}">
                    <a th:href="@{/{category}/{id}(category=${category}, id=${object.getKey().getId()})}"
                       th:text="${object.getKey().getCredentials()}">item</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <div class="center">
        <form method="get" th:action="@{/{link}/new(link=${category})}">
            <input type="submit" value="Создать"/>
        </form>
        <form method="get" th:action="@{/title}">
            <input type="submit" value="На главную"/>
        </form>
    </div>
</div>


</body>
</html>