<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of items</title>
</head>
<body>

<h1>
    <div sec:authentication="principal.username"></div>
</h1>

<div th:each="object : ${objects}">
    <a th:href="@{/{category}/{id}(category=${category}, id=${object.getId()})}"
       th:text="${object.getName()}">item</a>
</div>

<br/>
<hr/>

<a th:href="@{/{link}/new(link=${category})}">Create new</a>

<form method="get" th:action="@{/title}">
    <input type="submit" value="Home"/>
</form>

</body>
</html>