<!DOCTYPE html>
<html lang="ru" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Part info</title>
    <link href="/static/css/center.css" rel="stylesheet"/>
    <link href="/static/css/container.css" rel="stylesheet"/>
    <link href="/static/css/table-no-border.css" rel="stylesheet"/>
    <link href="/static/css/border-block.css" rel="stylesheet"/>
    <link href="/static/css/main.css" rel="stylesheet"/>
</head>
<body>
<header class="header">
    <h1>
        <div sec:authentication="principal.username"></div>
    </h1>
    <nav>
        <a th:href="@{/title}">На главную</a>
        <a th:href="@{/logout}">Log out</a>
    </nav>
</header>
<div class="main">
    <div class="border-block">
        <div class="container">
            <div class="col-1-2-no-boarder">
                <img th:src="@{/IMG/{fileName}(fileName=${picture})}">

            </div>
            <div class="col-1-2-no-boarder">
                <h1 th:text="${serviceObject.getName()}"></h1>
                <a th:href="@{${serviceObject.getLink()}}"
                   th:text="${serviceObject.getLink()}"></a>
                <p th:text="${manufacture} + ' ' + ${serviceObject.getModel()}"></p>
                <p th:text="${serviceObject.getValueName()} + ' - ' + ${serviceObject.getValue()}"></p>
                <p th:text="${serviceObject.getDescription()}"></p>
            </div>
        </div>
        <div class="container">
            <div class="container-buttons">
                <form th:action="@{/{link}/{id}/edit(link=${category}, id=${serviceObject.getId()})}">
                    <button th:type="submit">Редактировать</button>
                </form>
                <form th:action="@{/{link}/{id}(link=${category}, id=${serviceObject.getId()})}" th:method="POST">
                    <button th:type="submit">Удалить</button>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="col-1-2-no-boarder">
                <table class="table">
                    <thead>
                    <tr>
                        <th>parts</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="part : ${parts}">
                        <td>
                            <a th:href="@{/parts/{id}(id=${part.getKey().getId()})}"
                               th:text="${part.getKey().getName()} + ' ' + ${part.getKey().getModel()}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-1-2-no-boarder">
                <table class="table">
                    <thead>
                    <tr>
                        <th>documents</th>
                        <th>fasteners</th>
                        <th>tools</th>
                        <th>consumables</th>
                    </tr>

                    </thead>
                    <tbody>
                    <th>
                        <table>
                            <tr th:each="document : ${documents}">
                                <td>
                                    <a th:href="@{/documents/{id}(id=${document.getKey().getId()})}"
                                       th:text="${document.getKey().getName()} + ' ' + ${document.getValue()}"></a>
                                </td>
                            </tr>
                        </table>
                    </th>
                    <th>
                        <table>
                            <tr th:each="fastener : ${fasteners}">
                                <td>
                                    <a th:href="@{/fasteners/{id}(id=${fastener.getKey().getId()})}"
                                       th:text="${fastener.getKey().getName()} + ' ' + ${fastener.getValue()}"></a>
                                </td>
                            </tr>
                        </table>
                    </th>
                    <th>
                        <table>
                            <tr th:each="tool : ${tools}">
                                <td>
                                    <a th:href="@{/tools/{id}(id=${tool.getKey().getId()})}"
                                       th:text="${tool.getKey().getName()} + ' ' + ${tool.getValue()}"></a>
                                </td>
                            </tr>
                        </table>
                    </th>
                    <th>
                        <table>
                            <tr th:each="consumable : ${consumables}">
                                <td>
                                    <a th:href="@{/consumables/{id}(id=${consumable.getKey().getId()})}"
                                       th:text="${consumable.getKey().getName()} + ' ' + ${consumable.getValue()}"></a>
                                </td>
                            </tr>
                        </table>
                    </th>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="container" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="col-1-1-no-boarder">
                <ul>
                    <li th:text="'ID - ' + ${serviceObject.getId()}"></li>
                    <li th:text="'Name - ' + ${serviceObject.getName()}"></li>
                    <li th:text="'Manufacturer - ' + ${manufacture}"></li>
                    <li th:text="'Model - ' + ${serviceObject.getModel()}"></li>
                    <li th:text="'PartNumber - ' + ${serviceObject.getPartNumber()}"></li>
                    <li th:text="'Description - ' + ${serviceObject.getDescription()}"></li>
                    <li th:text="'Link - ' + ${serviceObject.getLink()}"></li>
                    <li th:text="'Value - ' + ${serviceObject.getValue()}"></li>
                    <li th:text="'Creator`s ID - ' + ${serviceObject.getCreator()}"></li>
                    <li th:text="'Picture`s ID - ' + ${serviceObject.getPicture()}"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>