<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Part info</title>
</head>
<body>
<h1 th:text="${serviceObject.getName()}"></h1>

<div th:text="${manufacture} + ' ' + ${serviceObject.getModel()}"></div>

<div th:text="${serviceObject.getValueName()} + ' - ' + ${serviceObject.getValue()}"></div>

<div th:text="${serviceObject.getDescription()}"></div>

<a th:href="@{${serviceObject.getLink()}}"
   th:text="${serviceObject.getLink()}"></a>

<img th:src="@{/IMG/{fileName}(fileName=${picture})}">
<br/>
<br/>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <div th:text="'ID - ' + ${serviceObject.getId()}"></div>
    <div th:text="'Name - ' + ${serviceObject.getName()}"></div>
    <div th:text="'Manufacturer - ' + ${manufacture}"></div>
    <div th:text="'Model - ' + ${serviceObject.getModel()}"></div>
    <div th:text="'PartNumber - ' + ${serviceObject.getPartNumber()}"></div>
    <div th:text="'Description - ' + ${serviceObject.getDescription()}"></div>
    <div th:text="'Link - ' + ${serviceObject.getLink()}"></div>
    <div th:text="'Value - ' + ${serviceObject.getValue()}"></div>
    <div th:text="'Creator`s ID - ' + ${serviceObject.getCreator()}"></div>
    <div th:text="'Picture`s ID - ' + ${serviceObject.getPicture()}"></div>
    <div th:text="'Manufacturer`s ID - ' + ${serviceObject.getManufacturer()}"></div>
<!--    <div th:text="'ServiceList - ' + ${serviceObject.getServiceList()}"></div>-->
<!--    <div th:text="'PartList - ' + ${serviceObject.getPartList()}"></div>-->
</div>

<form th:action="@{/{link}/{id}/edit(link=${category}, id=${serviceObject.getId()})}">
    <label>
        <input th:type="submit" value="Edit">
    </label>
</form>
<br/>
<br/>

<form th:action="@{/{link}/{id}(link=${category}, id=${serviceObject.getId()})}" th:method="DELETE">
    <label>
        <input th:type="submit" value="Delete">
    </label>
</form>
<br/>
<br/>


<table border="1">
    <thead>
    <tr>
        <th>parts</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="part : ${parts}">
        <td>
            <a th:href="@{/parts/{id}(id=${part.getId()})}"
               th:text="${part.getName()} + ' ' + ${part.getModel()}"></a>
        </td>
    </tr>
    </tbody>
</table>

<table border="1">
    <thead>
    <tr>
        <th>documents</th>
        <th>fasteners</th>
        <th>tools</th>
        <th>consumables</th>
    </tr>

    </thead>
    <tbody>
    <th>
        <table>
            <tr th:each="document : ${documents}">
                <td>
                    <a th:href="@{/documents/{id}(id=${document.getId()})}"
                       th:text="${document.getName()}"></a>
                </td>
            </tr>
        </table>
    </th>
    <th>
        <table>
            <tr th:each="fastener : ${fasteners}">
                <td>
                    <a th:href="@{/fasteners/{id}(id=${fastener.getId()})}"
                       th:text="${fastener.getName()}"></a>
                </td>
            </tr>
        </table>
    </th>
    <th>
        <table>
            <tr th:each="tool : ${tools}">
                <td>
                    <a th:href="@{/tools/{id}(id=${tool.getId()})}"
                       th:text="${tool.getName()}"></a>
                </td>
            </tr>
        </table>
    </th>
    <th>
        <table>
            <tr th:each="consumable : ${consumables}">
                <td>
                    <a th:href="@{/consumables/{id}(id=${consumable.getId()})}"
                       th:text="${consumable.getName()}"></a>
                </td>
            </tr>
        </table>
    </th>
    </tbody>

</table>


</body>
</html>