<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item Info</title>
</head>
<body>
<h1 th:text="${showableObject.getName()}"></h1>

<a th:href="@{${showableObject.getLink()}}"></a>

<div th:text="${showableObject.getDescription()}"></div>

<img th:src="@{/IMG/{fileName}(fileName=${picture})}">
<br/>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <div th:text="'ID - ' + ${showableObject.getId()}"></div>
    <div th:text="'Name - ' + ${showableObject.getName()}"></div>
    <div th:text="'Description - ' + ${showableObject.getDescription()}"></div>
    <div th:text="'Link - ' + ${showableObject.getLink()}"></div>
    <div th:text="'Value - ' + ${showableObject.getValue()}"></div>
    <div th:text="'Creator`s ID - ' + ${showableObject.getCreator()}"></div>
    <div th:text="'Picture`s ID - ' + ${showableObject.getPicture()}"></div>
</div>


<form th:action="@{/{link}/{id}/edit(link=${category}, id=${showableObject.getId()})}">
    <label>
        <input th:type="submit" value="Edit">
    </label>
</form>
<br/>
<br/>

<form th:action="@{/{link}/{id}(link=${category}, id=${showableObject.getId()})}" th:method="POST">
    <label>
        <input th:type="submit" value="Delete">
    </label>
</form>

</body>
</html>