<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit fastener</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/fasteners/{id}(id=${fastener.getFastenerid()})}" th:object="${fastener}">
    <label for="type">Enter name:</label>
    <input type="text" th:field="*{type}" id="type"/>
    <div style="color:red" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
    <br/>

    <label for="specs">Enter link:</label>
    <input type="text" th:field="*{specs}" id="specs"/>
    <div style="color:red" th:if="${#fields.hasErrors('specs')}" th:errors="*{specs}"></div>
    <br/>

    <label for="description">Enter description:</label>
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    <br/>

    <input type="submit" value="Update!"/>
</form>

</body>
</html>