<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create document</title>
</head>
<body>

<form th:method="POST" th:action="@{/documents}" th:object="${newObject}">
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br/>

    <label for="description">Enter description:</label>
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    <br/>

    <label for="link">Enter link:</label>
    <input type="text" th:field="*{link}" id="link"/>
    <div style="color:red" th:if="${#fields.hasErrors('link')}" th:errors="*{link}"></div>
    <br/>

    <input type="submit" value="Create!"/>
</form>
</body>
</html>