<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of items</title>
</head>
<body>

<h1 th:text="${user}"></h1>

<div th:each="object : ${objects}">
    <a th:href="@{/{category}/{id}(category=${category}, id=${object.getId()})}"
       th:text="${object.getId()} + ', ' + ${object.getName()}">doc</a>
</div>

<br/>
<hr/>

<a th:href="@{/{link}/new(link=${category})}">Create new</a>

<form method="get" th:action="@{/title}">
    <input type="submit" value="Home"/>
</form>

</body>
</html>