<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item Info</title>
</head>
<body>

<div th:each="pair : ${properties}">
    <div th:if="${!pair.getKey().contains('link')}">
        <p th:text="${pair.getKey()} + ' - ' + ${pair.getValue()}">VALUE</p></div>
    <div th:if="${pair.getKey().contains('link')}">
        <a th:href="@{${pair.getValue()}}"
           th:text="${pair.getValue()}"></a>
    </div>
    <div th:if="${pair.getKey().contains('manufacture')}">
        <p th:text="'Manufacture -' + ${manufacture}">VALUE</p></div>
</div>

<img th:src="@{/IMG/{fileName}(fileName=${picture})}">
<br/>

<a th:href="@{/{link}/{id}/edit(link=${category}, id=${object.getId()})}">Edit</a>

<form th:action="@{/{link}/{id}(link=${category}, id=${object.getId()})}" th:method="POST">
    <label>
        <input th:type="submit" value="Delete">
    </label>
</form>

</body>
</html>