.container {
    width: 80%;
    min-width: 1024px;
    margin: 0 auto;
    text-align: center;
}

.container div {
    float: left;
    margin-bottom: 15px;
}

.col-1-2 {
    width: 48%;
    outline: 2px solid #000;
    border-radius: 10px;
    margin: 0px 1% 0px 1%;
}

.col-1-2-no-boarder {
    width: 48%;
    margin: 0px 1% 0px 1%;
}

.col-1-1 {
    width: 96%;
    outline: 2px solid #000;
    border-radius: 10px;
}

.col-1-1-no-boarder {
    width: 96%;
    text-align: left;
    margin: 0px 1% 0px 1%;
}

.col-5-2 {
    width: 18%;
    outline: 2px solid #000;
    border-radius: 10px;
    margin: 0px 1% 0px 1%;
}

.col-5-2-no-boarders {
    width: 20%;
}

.col-5-2-no-boarders button {
    width: 75px;
}

.col-5-2-no-boarders select{
    width: 175px
}

.col-3-1-no-boarder {
    width: 33.3%;
    text-align: right !important;
}

.container-buttons {
    display: flex;
    justify-content: center;
}