.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
    height: 1vh;
    margin: 1% 10% 1%;
}

header nav,
footer nav {
    display: flex;
    gap: 20px;
}
