.main {

}

a {
    padding: 5px;
}

header, footer {
    text-align: justify;
    letter-spacing: 1px;
    height: 4em;
    padding: 1em 5%;
}

header h1,
header nav {
    display: inline-block;
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
}