<!DOCTYPE html>
<html lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>
    <div sec:authentication="principal.username"></div>
</h1>

<p></p>
<a href="bikes">My bikes</a>
<br/>
<a href="parts">My parts</a>
<br/>

<br/>
<br/>
<br/>
<a href="documents">My documents</a>
<br/>
<a href="fasteners">My fasteners</a>
<br/>
<a href="manufacturers">My manufacturers</a>
<br/>
<a href="tools">My tools</a>
<br/>
<a href="consumables">My consumables</a>
<br/>
<a href="pictures">My pictures</a>
<br/>
</body>
</html>