<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Part</title>
</head>
<body>
<script crossorigin="anonymous" src="https://kit.fontawesome.com/7edf9b7286.js"></script>

<form enctype="multipart/form-data" th:action="@{/{link}/{id}/update(link=${category}, id=${serviceObject.getId()})}"
      th:method="POST" th:object="${serviceObject}">

    <label for="name">Enter name:</label>
    <input id="name" th:field="*{name}" type="text"/>
    <div style="color:red" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></div>
    <br/>

    <label for="manufacturers">Choose manufacturer:</label>
    <div th:object="${manufacturers}">
        <select id="manufacturers" name="manufacturer">
            <option selected th:text="${manufacture.getName()}"
                    th:value="${manufacture.getId()}"></option>
            <option th:each="item : ${manufacturers}"
                    th:text="${item.getName()}"
                    th:value="${item.getId()}">
            </option>
        </select>
    </div>

    <label for="partNumber">Enter part number:</label>
    <input id="partNumber" th:field="*{partNumber}" type="text"/>
    <div style="color:red" th:errors="*{partNumber}" th:if="${#fields.hasErrors('partNumber')}"></div>
    <br/>
    <label for="model">Enter model:</label>
    <input id="model" th:field="*{model}" type="text"/>
    <div style="color:red" th:errors="*{model}" th:if="${#fields.hasErrors('model')}"></div>
    <br/>
    <label for="description">Enter description:</label>
    <input id="description" th:field="*{description}" type="text"/>
    <div style="color:red" th:errors="*{description}" th:if="${#fields.hasErrors('description')}"></div>
    <br/>
    <label for="link">Enter link:</label>
    <input id="link" th:field="*{link}" type="text"/>
    <div style="color:red" th:errors="*{link}" th:if="${#fields.hasErrors('link')}"></div>
    <br/>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <label for="creator">Enter creator:</label>
        <input id="creator" th:field="*{creator}" type="text"/>
    </div>
    <br/>
    <label for="picture">Upload new picture:</label>
    <input accept="image/*" id="picture" name="newImage" type="file"/>
    <br/>
    <label for="pictures">Choose picture:</label>
    <div th:object="${allPictures}">
        <select id="pictures" name="picture">
            <option selected th:text="${picture.getName()}"
                    th:value="${picture.getId()}"></option>
            <option th:each="item : ${allPictures}"
                    th:text="${item.getName()}"
                    th:value="${item.getId()}">
            </option>
        </select>
    </div>
    <br/>
    <br/>
    <label for="allParts">Choose part to add:</label>
    <div th:object="${allParts}">
        <select id="allParts" th:name="partId">
            <option th:each="item : ${allParts}"
                    th:if="!${item.getId() == serviceObject.getId()}"
                    th:text="${item.getName()}"
                    th:value="${item.getId()}">
            </option>
        </select>
        <input th:name="action" th:type="submit" th:value="addPart"/>
        <input th:name="action" th:type="submit" th:value="delPart"/>
    </div>
    <br/>
    <label for="documents">Choose document to add:</label>
    <div th:object="${allDocuments}">
        <select id="documents" th:name="documentId">
            <option th:each="item : ${allDocuments}"
                    th:text="${item.getName()}"
                    th:value="${item.getId()}">
            </option>
        </select>
        <input th:name="action" th:type="submit" th:value="addDocument"/>
        <input th:name="action" th:type="submit" th:value="delDocument"/>
    </div>
    <br/>

    <label for="fasteners">Choose fasteners to add:</label>
    <div th:object="${allFasteners}">
        <select id="fasteners" th:name="fastenerId">
            <option th:each="item : ${allFasteners}"
                    th:text="${item.getName()}"
                    th:value="${item.getId()}">
            </option>
        </select>

        <label for="fastenerQuantity">Enter fastener quantity:</label>
        <input id="fastenerQuantity" th:name="fastenerQuantity" type="text"/>

        <input th:name="action" th:type="submit" th:value="addFastener"/>
        <input th:name="action" th:type="submit" th:value="delFastener"/>
    </div>
    <br/>

    <label for="tools">Choose tool to add:</label>
    <div th:object="${allTools}">
        <select id="tools" th:name="toolId">
            <option th:each="item : ${allTools}"
                    th:text="${item.getName()}"
                    th:value="${item.getId()}">
            </option>
        </select>
        <input th:name="action" th:type="submit" th:value="addTool"/>
        <input th:name="action" th:type="submit" th:value="delTool"/>
    </div>
    <br/>

    <label for="consumables">Choose consumable to add:</label>
    <div th:object="${allConsumables}">
        <select id="consumables" th:name="consumableId">
            <option th:each="item : ${allConsumables}"
                    th:text="${item.getName()}"
                    th:value="${item.getId()}">
            </option>
        </select>

        <label for="consumableQuantity">Enter consumable quantity:</label>
        <input id="consumableQuantity" th:name="consumableQuantity" type="text"/>

        <input th:name="action" th:type="submit" th:value="addConsumable"/>
        <input th:name="action" th:type="submit" th:value="delConsumable"/>
    </div>
    <br/>
    <input th:name="action" th:type="submit" th:value="finish" value="Update"/>
    <br/>
    <br/>
</form>

<table border="1">
    <thead>
    <tr>
        <th>parts</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="part : ${parts}">
        <td>
            <a th:href="@{/parts/{id}(id=${part.getKey().getId()})}"
               th:text="${part.getKey().getName()} + ' ' + ${part.getKey().getModel()} + ' ' + ${part.getValue()}"></a>
            <!--            <button th:name="action" type="submit" class="btn btn-success" th:value="delPart">-->
            <!--                <i class="fa-solid fa-trash"></i>-->
            <!--            </button>-->
        </td>
    </tr>
    </tbody>
</table>
<br/>
<br/>

<table border="1">
    <thead>
    <tr>
        <th>documents</th>
        <th>fasteners</th>
        <th>tools</th>
        <th>consumables</th>
    </tr>

    </thead>
    <tbody>
    <th>
        <table>
            <tr th:each="document : ${documents}">
                <td>
                    <a th:href="@{/documents/{id}(id=${document.getKey().getId()})}"
                       th:text="${document.getKey().getName()} + ' ' + ${document.getValue()}"></a>
                </td>
            </tr>
        </table>
    </th>
    <th>
        <table>
            <tr th:each="fastener : ${fasteners}">
                <td>
                    <a th:href="@{/fasteners/{id}(id=${fastener.getKey().getId()})}"
                       th:text="${fastener.getKey().getName()} + ' ' + ${fastener.getValue()}"></a>
                </td>
            </tr>
        </table>
    </th>
    <th>
        <table>
            <tr th:each="tool : ${tools}">
                <td>
                    <a th:href="@{/tools/{id}(id=${tool.getKey().getId()})}"
                       th:text="${tool.getKey().getName()} + ' ' + ${tool.getValue()}"></a>
                </td>
            </tr>
        </table>
    </th>
    <th>
        <table>
            <tr th:each="consumable : ${consumables}">
                <td>
                    <a th:href="@{/consumables/{id}(id=${consumable.getKey().getId()})}"
                       th:text="${consumable.getKey().getName()} + ' ' + ${consumable.getValue()}"></a>
                </td>
            </tr>
        </table>
    </th>
    </tbody>
</table>

</body>
</html>