<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit credentials</title>
    <link href="/static/css/main.css" rel="stylesheet"/>
    <link href="/static/css/container.css" rel="stylesheet"/>
</head>
<body>
<div class="main">
    <div th:replace="~{header :: header}"></div>

    <div class="container-base">
        <div class="container">
            <div class="col-1-1">
                <form class="container-form" th:action="@{/users/update/credentialsChange}"
                      th:method="POST"
                      th:object="${user}">
                    <label for="name">Введите новый Login</label>
                    <br/>
                    <input id="name" th:field="*{username}" type="text"/>
                    <span style="color:red" th:errors="*{username}"
                          th:if="${#fields.hasErrors('username')}"></span>
                    <br/>
                    <label for="email">Введите новую почту</label>
                    <br/>
                    <p>При смене почты необходимо активировать аккаунт заново!</p>
                    <p style="color: red" th:text="${emailWrong}"></p>
                    <input id="email" th:field="*{email}" type="text"/>
                    <span style="color:red" th:errors="*{email}"
                          th:if="${#fields.hasErrors('email')}"></span>
                    <br/>
                    <label for="pass">Введите новый Пароль</label>
                    <br/>
                    <input id="pass" th:field="*{password}" type="password"/>
                    <span style="color:red" th:errors="*{password}"
                          th:if="${#fields.hasErrors('password')}"></span>
                    <br/>
                    <button type="submit" value="Обновить">Обновить</button>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="~{header :: footer}"></div>
</div>
</body>
</html>