<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit item</title>
    <link href="/css/container.css" rel="stylesheet"/>
    <link href="/css/border-block.css" rel="stylesheet"/>
    <link href="/css/table-no-border.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<script crossorigin="anonymous" src="https://kit.fontawesome.com/7edf9b7286.js"></script>
<div class="main">
    <div th:replace="~{header :: header}"></div>

    <div class="container-base">
        <div class="container">
            <form class="container-form" enctype="multipart/form-data"
                  th:action="@{/{link}/{id}/update(link=${category}, id=${object.getId()})}"
                  th:method="POST"
                  th:object="${object}">
                <div class="col-1-1-no-boarder">
                    <div class="col-5-2-no-boarders">
                        <label for="name">Название:</label>
                        <input id="name" th:field="*{name}" type="text"/>
                        <span style="color:red" th:errors="*{name}"
                              th:if="${#fields.hasErrors('name')}"></span>
                        <label for="description">Описание:</label>
                        <input id="description" th:field="*{description}" type="text"/>
                        <span style="color:red" th:errors="*{description}"
                              th:if="${#fields.hasErrors('description')}"></span>
                    </div>
                    <div class="col-5-2-no-boarders">
                        <label for="link">Ссылка:</label>
                        <input id="link" th:field="*{link}" type="text"/>
                        <span style="color:red" th:errors="*{link}" th:if="${#fields.hasErrors('link')}"></span>
                        <label for="value" th:text="${object.getValueName()}">:</label>
                        <input id="value" th:field="*{value}" type="text"/>
                        <span style="color:red" th:errors="*{value}" th:if="${#fields.hasErrors('value')}"></span>
                    </div>
                    <div class="col-5-2-no-boarders" th:if="${type == 'Usable'} or ${type == 'Serviceable'}">
                        <label for="manufacturers">Выберите производителя:</label>
                        <select class="col-5-2-no-boarders-select" id="manufacturers" name="manufacturer" th:object="${manufacturers}">
                            <option selected="selected" th:text="${manufacture.getName()}"
                                    th:value="${manufacture.getId()}"></option>
                            <option th:each="item : ${manufacturers}"
                                    th:text="${item.getName()}"
                                    th:value="${item.getId()}">
                            </option>
                        </select>
                        <label for="model">Модель:</label>
                        <input id="model" th:field="*{model}" type="text"/>
                        <span style="color:red" th:errors="*{model}" th:if="${#fields.hasErrors('model')}"></span>
                    </div>
                    <div class="col-5-2-no-boarders">
                        <label for="picture">Загрузить новое изображение:</label>
                        <input accept="image/*" id="picture" name="newImage" type="file"/>
                        <label for="pictures">Выберите из уже загруженных:</label>
                        <select class="col-5-2-no-boarders-select" id="pictures" name="picture" style="width: 150px" th:object="${allPictures}">
                            <option selected="selected" th:text="${picture.getName()}"
                                    th:value="${picture.getId()}"></option>
                            <option th:each="item : ${allPictures}"
                                    th:text="${item.getName()}"
                                    th:value="${item.getId()}">
                            </option>
                        </select>
                    </div>
                    <div class="col-5-2-no-boarders"
                         th:if="${user.getAuthorities().contains(T(ru.kuznetsov.bikeService.models.users.UserRole).ROLE_USER)}">
                    <span hidden="hidden">
                    <label for="creator">Enter creator:</label>
                    <input id="creator" th:field="*{creator}" type="text"/>
                    </span>
                    </div>
                    <div class="col-5-2-no-boarders">
                        <label for="creatorAdmin"
                               th:if="${user.getAuthorities().contains(T(ru.kuznetsov.bikeService.models.users.UserRole).ROLE_ADMIN)}">Id
                            создателя:</label>
                        <input id="creatorAdmin" th:field="*{creator}"
                               th:if="${user.getAuthorities().contains(T(ru.kuznetsov.bikeService.models.users.UserRole).ROLE_ADMIN)}"
                               type="text"/>
                        <label for="isShared">Показать всем:</label>
                        <input id="isShared" th:field="*{isShared}" th:value="true" type="checkbox"/>
                    </div>
                </div>
                <button th:name="action" th:type="submit" th:value="finish">Обновить</button>
                <br/>
                <br/>
                <div class="col-1-1-no-boarder" th:if="${type == 'Serviceable'}">
                    <div class="col-5-2-no-boarders">
                        <label for="allParts">Выберите запчасть:</label>
                        <div th:object="${allParts}">
                            <select class="col-5-2-no-boarders-select" id="allParts" th:name="partId" th:object="${allParts}">
                                <option th:each="item : ${allParts}"
                                        th:if="!${item.getId() == object.getId() and category == 'parts'}"
                                        th:text="${item.getName()}"
                                        th:value="${item.getId()}">
                                </option>
                            </select>
                            <br/>
                            <button th:name="action" th:type="submit" th:value="addPart">Добавить</button>
                            <button th:name="action" th:type="submit" th:value="delPart">Убрать</button>
                        </div>
                    </div>
                    <div class="col-5-2-no-boarders">
                        <label for="documents">Выберите документ:</label>
                        <div th:object="${allDocuments}">
                            <select class="col-5-2-no-boarders-select" id="documents" th:name="documentId">
                                <option th:each="item : ${allDocuments}"
                                        th:text="${item.getName()}"
                                        th:value="${item.getId()}">
                                </option>
                            </select>
                            <br/>
                            <button th:name="action" th:type="submit" th:value="addDocument">Добавить</button>
                            <button th:name="action" th:type="submit" th:value="delDocument">Убрать</button>
                        </div>
                    </div>
                    <div class="col-5-2-no-boarders">
                        <label for="tools">Выберите инструмент:</label>
                        <div th:object="${allTools}">
                            <select class="col-5-2-no-boarders-select" id="tools" th:name="toolId">
                                <option th:each="item : ${allTools}"
                                        th:text="${item.getName()}"
                                        th:value="${item.getId()}">
                                </option>
                            </select>
                            <br/>
                            <button th:name="action" th:type="submit" th:value="addTool">Добавить</button>
                            <button th:name="action" th:type="submit" th:value="delTool">Убрать</button>
                        </div>
                    </div>
                    <div class="col-5-2-no-boarders">
                        <label for="fasteners">Выберите крепёж:</label>
                        <div th:object="${allFasteners}">
                            <select class="col-5-2-no-boarders-select" id="fasteners" th:name="fastenerId">
                                <option th:each="item : ${allFasteners}"
                                        th:text="${item.getName()}"
                                        th:value="${item.getId()}">
                                </option>
                            </select>
                            <br/>
                            <label for="fastenerQuantity">Выберите количество:</label>
                            <input id="fastenerQuantity" th:name="fastenerQuantity" th:value="1" type="number"/>
                            <br/>
                            <button th:name="action" th:type="submit" th:value="addFastener">Добавить</button>
                            <button th:name="action" th:type="submit" th:value="delFastener">Убрать</button>
                        </div>
                    </div>
                    <div class="col-5-2-no-boarders">
                        <label for="consumables">Выберите расходник:</label>
                        <div th:object="${allConsumables}">
                            <select class="col-5-2-no-boarders-select" id="consumables" th:name="consumableId">
                                <option th:each="item : ${allConsumables}"
                                        th:text="${item.getName()}"
                                        th:value="${item.getId()}">
                                </option>
                            </select>
                            <br/>
                            <label for="consumableQuantity">Выберите количество:</label>
                            <input id="consumableQuantity" th:name="consumableQuantity" th:value="1" type="number"/>
                            <br/>
                            <button th:name="action" th:type="submit" th:value="addConsumable">Добавить</button>
                            <button th:name="action" th:type="submit" th:value="delConsumable">Убрать</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="border-block-50" th:if="${type == 'Serviceable'}">
            <div class="col-5-2-no-boarders">
                <h4>Запчасти</h4>
                <div>
                    <table class="table-no-border">
                        <tbody>
                        <tr th:each="part : ${parts}">
                            <td>
                                <a th:href="@{/parts/{id}(id=${part.getKey().getId()})}"
                                   th:text="${part.getKey().getName()} + ' ' + ${part.getKey().getModel()}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-5-2-no-boarders">
                <h4>Документы</h4>
                <div>
                    <table class="table-no-border">
                        <tbody>
                        <tr th:each="document : ${documents}">
                            <td>
                                <a th:href="@{/documents/{id}(id=${document.getKey().getId()})}"
                                   th:text="${document.getKey().getName()}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-5-2-no-boarders">
                <h4>Инструмент</h4>
                <div>
                    <table class="table-no-border">
                        <tbody>
                        <tr th:each="tool : ${tools}">
                            <td>
                                <a th:href="@{/tools/{id}(id=${tool.getKey().getId()})}"
                                   th:text="${tool.getKey().getName()}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-5-2-no-boarders">
                <h4>Крепёж</h4>
                <div>
                    <table class="table-no-border">
                        <tbody>
                        <tr th:each="fastener : ${fasteners}">
                            <td>
                                <a th:href="@{/fasteners/{id}(id=${fastener.getKey().getId()})}"
                                   th:text="${fastener.getKey().getName()} + ' ' + ${fastener.getValue()}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-5-2-no-boarders">
                <h4>Расходники</h4>
                <div>
                    <table class="table-no-border">
                        <tbody>
                        <tr th:each="consumable : ${consumables}">
                            <td>
                                <a th:href="@{/consumables/{id}(id=${consumable.getKey().getId()})}"
                                   th:text="${consumable.getKey().getName()} + ' ' + ${consumable.getValue()}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{header :: footer}"></div>
</div>
</body>
</html>