<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of items</title>
    <link href="/static/css/table-no-border.css" rel="stylesheet"/>
    <link href="/static/css/border-block.css" rel="stylesheet"/>
    <link href="/static/css/main.css" rel="stylesheet"/>
    <link href="/static/css/container.css" rel="stylesheet"/>
</head>
<body>
<div class="main">
    <div th:replace="~{header :: header}"></div>

    <div class="container-base">
        <div class="container">
            <div class="col-1-1-no-boarder">
                <h3>
                    Созданные вами позиции:
                </h3>
            </div>
            <div class="col-1-2-no-boarder">
                <form method="get" th:action="@{/{link}/search(link=${category})}">
                    <input for="" th:name="value" th:type="text"/>
                    <button style="width: 75px" th:type="submit">Найти</button>
                    <br/>
                    <label for="isShared">Включить общие позиции:</label>
                    <input id="isShared" th:checked="${sharedCheck}" th:name="shared" type="checkbox"/>
                </form>
                <form method="get" th:action="@{/{link}(link=${category})}">
                    <button style="width: 75px" th:type="submit">Сбросить</button>
                </form>
            </div>
            <div class="col-1-2-no-boarder">
                <form method="get" th:action="@{/{link}/new(link=${category})}">
                    <input type="submit" value="Создать новую позицию"/>
                </form>
            </div>
        </div>
        <div class="border-block-65">
            <table class="table-no-border">
                <tbody>
                <tr th:each="object : ${objects}">
                    <td>
                        <img alt="Picture of item" th:src="@{/preview/{filename}(filename=${object.getValue()})}"/>
                        <a th:href="@{/{category}/{id}(category=${category}, id=${object.getKey().getId()})}"
                           th:text="${object.getKey().getCredentials()}">item</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="~{header :: footer}"></div>
</div>
</body>
</html>