<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>LogIn</title>
    <link href="/static/css/main.css" rel="stylesheet"/>
    <link href="/static/css/login-main.css" rel="stylesheet"/>
    <link href="/static/css/container.css" rel="stylesheet"/>
    <link href="/static/css/container-home.css" rel="stylesheet"/>
</head>
<body>
<div class="login-main">
    <div class="container-base">
        <div class="container-home">
            <div class="col-1-1">
                <h2>Пожалуйста, войдите в систему</h2>
                <br/>
            </div>
            <div class="col-1-1">
                <h4><a th:href="@{/oauth2/authorization/google}">используя Google</a></h4>
                <br/>
                <h5>или</h5>
            </div>
            <div class="col-1-1">
                <form class="container-form" method="post"
                      th:action="@{/login}">
                        <span style="color: red" th:if="${param.error != null}"
                              th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</span>
                    <br/>
                    <label for="name">Введите почту</label>
                    <br/>
                    <input id="name" placeholder="Name" required th:name="username" type="text"/>
                    <br/>
                    <br/>
                    <label for="pass">Введите Пароль</label>
                    <br/>
                    <input id="pass" placeholder="Password" required th:name="password" type="password"/>
                    <br/>
                    <br/>
                    <button class="btn btn-primary" type="submit" value="Login">Войти</button>
                </form>
            </div>
            <div class="col-1-1">
                <span th:text="${regMessage}"></span>
            </div>
            <div class="col-1-1">
                <script>
                    const btn = document.getElementById("send-btn")

                    function myFunction() {
                        btn.disabled = true;
                        setTimeout(() => {
                            btn.disabled = false;
                            console.log('Button Activated')
                        }, 5000)
                    }
                </script>
                <details th:if="${param.error != null}">
                    <summary>
                        Ваш аккаунт не активирован?
                    </summary>
                    <form class="container-form" th:action="@{/resendRegistrationToken}"
                          th:method="get" th:object="${user}">
                        <br/>
                        <label for="resentEmail">Почта:</label>
                        <br/>
                        <input id="resentEmail" required th:name="email" type="email"/>
                        <br/>
                        <br/>
                        <button class="send-btn" onclick="myFunction()" th:name="returnLink"
                                th:value="login"
                                type="submit">
                            Отправить письмо для активации
                        </button>
                    </form>
                </details>
            </div>
        </div>
    </div>
</div>
</body>
</html>