<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>LogIn</title>
    <link href="/static/css/main.css" rel="stylesheet"/>
    <link href="/static/css/container.css" rel="stylesheet"/>
</head>
<body>
<div class="main">
    <div class="container-base">
        <div class="container">
            <div class="col-1-1">
                <h2>Пожалуйста, войдите в систему</h2>
                <br/>
            </div>
            <div class="col-1-1">
                <h4><a th:href="@{/oauth2/authorization/google}">Используя Google</a></h4>
                <br/>
                <h5>Или</h5>
            </div>
            <div class="col-1-1">
                <form class="container-form" method="post"
                      th:action="@{/login}">
                    <div th:if="${message}" th:text="${message}">
                    </div>
                    <label class="alert alert-error" th:if="${param.error}">
                        Неправильные имя и пароль.
                    </label>
                    <br/>
                    <label for="name">Введите почту</label>
                    <br/>
                    <input id="name" placeholder="Name" required th:name="username" type="text"/>
                    <br/>
                    <br/>
                    <label for="pass">Введите Пароль</label>
                    <br/>
                    <input id="pass" placeholder="Password" required th:name="password" type="password"/>
                    <br/>
                    <br/>
                    <button class="btn btn-primary" type="submit" value="Login">Войти</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>