<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create part</title>
    <link href="/static/css/container.css" rel="stylesheet"/>
    <link href="/static/css/main.css" rel="stylesheet"/>
</head>
<body>
<div class="main">
    <div th:replace="~{header :: header}"></div>

    <div class="container-base">
        <div class="container">
            <form class="container-form" enctype="multipart/form-data" th:action="@{/{link}(link=${category})}" th:method="POST"
                  th:object="${object}">
                <div class="col-1-1-no-boarder">
                    <div class="col-1-3-no-border">
                        <label for="name">Название:</label>
                        <input id="name" th:field="*{name}" type="text"/>
                        <span style="color:red" th:errors="*{name}"
                              th:if="${#fields.hasErrors('name')}"></span>
                        <label for="description">Описание:</label>
                        <input id="description" th:field="*{description}" type="text"/>
                        <span style="color:red" th:errors="*{description}"
                              th:if="${#fields.hasErrors('description')}"></span>
                        <label for="link" th:if="${category != 'documents'}">Ссылка:</label>
                        <input id="link" th:field="*{link}" th:if="${category != 'documents'}" type="text"/>
                        <span style="color:red" th:errors="*{link}" th:if="${#fields.hasErrors('link')}"></span>
                        <label for="value" th:text="${object.getValueName()}">:</label>
                        <input id="value" th:field="*{value}" type="text"/>
                        <span style="color:red" th:errors="*{value}" th:if="${#fields.hasErrors('value')}"></span>
                    </div>
                    <div class="col-1-3-no-border" th:if="${type == 'Usable'} or ${type == 'Serviceable'}">
                        <label for="manufacturers">Производитель:</label>
                        <select id="manufacturers" name="manufacturer" th:object="${manufacturers}">
                            <option selected th:text="Default"
                                    th:value="1">
                            </option>
                            <option th:each="item : ${manufacturers}"
                                    th:text="${item.getName()}"
                                    th:value="${item.getId()}">
                            </option>
                        </select>
                        <label for="model">Модель:</label>
                        <input id="model" th:field="*{model}" type="text"/>
                        <span style="color:red" th:errors="*{model}" th:if="${#fields.hasErrors('model')}"></span>
                    </div>
                    <div class="col-1-3-no-border">
                        <label for="isShared">Показать всем:</label>
                        <input id="isShared" th:field="*{isShared}" th:value="true" type="checkbox"/>
                        <label for="picture">Загрузить новое изображение:</label>
                        <input accept="image/*" id="picture" name="newImage" type="file"/>
                        <label for="pictures">Выбрать из уже загруженных:</label>
                        <select id="pictures" name="picture" style="width: 150px" th:object="${allPictures}">
                            <option th:each="item : ${allPictures}"
                                    th:text="${item.getName()}"
                                    th:value="${item.getId()}">
                            </option>
                        </select>
                    </div>
                </div>
                <input type="submit" value="Создать!"/>
            </form>
        </div>
    </div>

    <div th:replace="~{header :: footer}"></div>
</div>
</body>
</html>