<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create part</title>
    <link href="/static/css/container.css" rel="stylesheet"/>
    <link href="/static/css/main.css" rel="stylesheet"/>
</head>
<body>

<div th:insert="~{header :: header}"></div>

<div class="main">
    <div class="container">
        <form enctype="multipart/form-data" th:action="@{/{link}(link=${category})}" th:method="POST"
              th:object="${object}">
            <div class="col-1-1">
                <div class="col-3-1-no-boarder">
                    <br/>
                    <label for="name">Название:</label>
                    <input id="name" th:field="*{name}" type="text"/>
                    <br/>
                    <span style="color:red" th:errors="*{name}"
                          th:if="${#fields.hasErrors('name')}"></span>
                    <br/>
                    <br/>
                    <label for="description">Описание:</label>
                    <input id="description" th:field="*{description}" type="text"/>
                    <br/>
                    <span style="color:red" th:errors="*{description}" th:if="${#fields.hasErrors('description')}"></span>
                    <br/>
                    <br/>
                    <label for="link">Ссылка:</label>
                    <input id="link" th:field="*{link}" type="text"/>
                    <br/>
                    <span style="color:red" th:errors="*{link}" th:if="${#fields.hasErrors('link')}"></span>
                    <br/>
                    <br/>
                    <label for="value" th:text="${object.getValueName()}">:</label>
                    <input id="value" th:field="*{value}" type="text"/>
                    <br/>
                    <span style="color:red" th:errors="*{value}" th:if="${#fields.hasErrors('value')}"></span>
                    <br/>
                    <br/>
                    <label for="isShared">Показать всем:</label>
                    <input id="isShared" th:field="*{isShared}" th:value="true" type="checkbox"/>
                    <br/>
                    <br/>
                </div>
                <div class="col-3-1-no-boarder" th:if="${type == 'Usable'} or ${type == 'Serviceable'}">
                    <br/>
                    <span th:object="${manufacturers}">
                        <label for="manufacturers">Производитель:</label>
                        <select id="manufacturers" name="manufacturer">
                            <option selected th:text="Default"
                                    th:value="1">
                            </option>
                            <option th:each="item : ${manufacturers}"
                                    th:text="${item.getName()}"
                                    th:value="${item.getId()}">
                            </option>
                        </select>
                    </span>
                    <br/>
                    <br/>
                    <label for="model">Модель:</label>
                    <input id="model" th:field="*{model}" type="text"/>
                    <br/>
                    <span style="color:red" th:errors="*{model}" th:if="${#fields.hasErrors('model')}"></span>
                    <br/>
                    <br/>
                </div>
                <div class="col-3-1-no-boarder">
                    <br/>
                    <label for="picture">Загрузить новое изображение:</label>
                    <br/>
                    <input accept="image/*" id="picture" name="newImage" type="file"/>
                    <br/>
                    <br/>
                    <span th:object="${allPictures}">
                        <label for="pictures">Выбрать из уже загруженных:</label>
                        <br/>
                        <select id="pictures" name="picture" style="width: 150px">
                            <option th:each="item : ${allPictures}"
                                    th:text="${item.getName()}"
                                    th:value="${item.getId()}">
                            </option>
                        </select>
                    </span>
                    <br/>
                    <br/>
                </div>
            </div>
            <input type="submit" value="Создать!"/>
        </form>
    </div>
</div>

<div th:insert="~{header :: footer}"></div>

</body>
</html>