<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Форма регистрации</title>
    <link href="/static/css/main.css" rel="stylesheet"/>
    <link href="/static/css/container.css" rel="stylesheet"/>
</head>
<body>
<header class="header">
    <nav>
        <a th:href="@{/}">Выход</a>
        <a th:href="@{/registration}">Регистрация</a>
    </nav>
</header>
<div class="main">
    <div class="container">
        <div class="col-1-1">
            <h2 th:text="${message}">
            </h2>
        </div>
    </div>
</div>

</body>
</html>