<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Форма регистрации</title>
    <link href="/static/css/main.css" rel="stylesheet"/>
    <link href="/static/css/container.css" rel="stylesheet"/>
</head>
<body>
<header class="header">
    <nav>
        <a th:href="@{/}">Выход</a>
    </nav>
</header>
<div class="main">
    <div class="main-home">
        <div class="container-base">
            <div class="container-home">
                <div class="col-1-1">
                    <p style="color: red" th:if="${message}"
                       th:text="${message}">
                    </p>
                </div>
                <div class="col-1-1">
                    <form class="container-form" th:action="@{/registration}" th:method="post" th:object="${user}">
                        <label for="username">Логин:</label>
                        <br/>
                        <input id="username" required th:field="*{username}" type="text"/>
                        <span style="color:red" th:errors="*{username}"
                              th:if="${#fields.hasErrors('username')}"></span>
                        <br/>
                        <label for="email">Почта:</label>
                        <br/>
                        <input id="email" required th:field="*{email}" type="text"/>
                        <span style="color:red" th:errors="*{email}"
                              th:if="${#fields.hasErrors('email')}"></span>
                        <br/>
                        <label for="password">Пароль:</label>
                        <br/>
                        <input id="password" required th:field="*{password}" type="password"/>
                        <span style="color:red" th:errors="*{password}"
                              th:if="${#fields.hasErrors('password')}"></span>
                        <br/>
                        <br/>
                        <button type="submit">Отправить данные</button>
                        <br/>
                        <br/>
                    </form>
                </div>
                <div class="col-1-1">
                    <script>
                        const btn = document.getElementById("send-btn")

                        function myFunction() {
                            btn.disabled = true;
                            setTimeout(() => {
                                btn.disabled = false;
                                console.log('Button Activated')
                            }, 5000)
                        }
                    </script>

                    <form class="container-form" th:action="@{/resendRegistrationToken}" th:if="${regStart}"
                          th:method="get" th:object="${user}">
                        <span th:text="${regMessage}"></span>
                        <br/>
                        <button class="send-btn" onclick="myFunction()" type="submit">Отправить письмо ещё раз.</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>