<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Форма регистрации</title>
    <link href="/static/css/main.css" rel="stylesheet"/>
    <link href="/static/css/container.css" rel="stylesheet"/>
</head>
<body>
<header class="header">
    <nav>
        <a th:href="@{/}">Выход</a>
    </nav>
</header>
<div class="main">
    <div class="container">
        <div class="col-1-1">
            <p th:if="${message}"
                 th:text="${message}">
            </p>
            <form method="post" th:action="@{/registration}">
                <h3>
                    Логин :
                </h3>
                <label> <input name="username" type="text"/> </label>
                <h3>
                    Email :
                </h3>
                <label> <input name="email" type="text"/> </label>
                <h3>
                    Пароль:
                </h3>
                <label> <input name="password" type="password"/> </label>
                <br/>
                <br/>
                <input type="submit" value="Sign In"/>
                <br/>
                <br/>
            </form>
        </div>
    </div>
</div>

</body>
</html>