<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="/css/center.css" rel="stylesheet"/>
    <link href="/css/container.css" rel="stylesheet"/>
    <link href="/css/table-no-border.css" rel="stylesheet"/>
    <link href="/css/border-block.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<div class="main">
    <div th:replace="~{header :: header}"></div>

    <div class="container-base">
        <div class="container">
            <div class="col-1-1">
                <h1 th:text="${userAccount.getUsername()}">
                </h1>
                <div class="col-1-1-no-boarder-user">
                    <form th:action="@{/users/update/{id}(id = ${userAccount.getId()})}" th:method="POST">
                        <ul>
                            <li th:text="'ID - ' + ${userAccount.getId()}"></li>
                            <li th:text="'Email - ' + ${userAccount.getEmail()}"></li>
                            <li th:text="'IsActive - ' + ${userAccount.isActive()}"></li>
                            <li th:text="'IsEnabled - ' + ${userAccount.isEnabled().toString()}"></li>
                            <li th:text="'Authorities - ' + ${userAccount.getAuthorities().toString()}"></li>
                            <li th:text="'Provider - ' + ${userAccount.getProvider().toString()}"></li>
                        </ul>
                        <button th:if="${user.getAuthorities().contains(T(ru.kuznetsov.bikeService.models.users.UserRole).ROLE_ADMIN)}"
                                th:name="admin" th:type="submit" th:value="1">Добавить роль администратора
                        </button>
                        <button th:if="${user.getAuthorities().contains(T(ru.kuznetsov.bikeService.models.users.UserRole).ROLE_ADMIN)}"
                                th:name="admin" th:type="submit" th:value="0">Удалить роль администратора
                        </button>
                    </form>
                    <form th:action="@{/users/update}"
                          th:if="${userAccount.getProvider() == T(ru.kuznetsov.bikeService.models.users.Provider).LOCAL}"
                          th:method="GET">
                        <button type="submit">Сменить логин, почту, пароль</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="border-block-63">
            <div class="col-7-1-no-boarders">
                <h4>Документы</h4>
                <div>
                    <table class="table-no-border">
                        <tbody>
                        <tr th:each="document : ${documents}">
                            <td>
                                <a th:href="@{/documents/{id}(id=${document.getId()})}"
                                   th:text="${document.getName()}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-7-1-no-boarders">
                <h4>Крепёж</h4>
                <div>
                    <table class="table-no-border">
                        <tbody>
                        <tr th:each="fastener : ${fasteners}">
                            <td>
                                <a th:href="@{/fasteners/{id}(id=${fastener.getId()})}"
                                   th:text="${fastener.getName()}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-7-1-no-boarders">
                <h4>Производители</h4>
                <div>
                    <table class="table-no-border">
                        <tbody>
                        <tr th:each="manufacturer : ${manufacturers}">
                            <td>
                                <a th:href="@{/manufacturers/{id}(id=${manufacturer.getId()})}"
                                   th:text="${manufacturer.getName()}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-7-1-no-boarders">
                <h4>Расходники</h4>
                <div>
                    <table class="table-no-border">
                        <tbody>
                        <tr th:each="consumable : ${consumables}">
                            <td>
                                <a th:href="@{/consumables/{id}(id=${consumable.getId()})}"
                                   th:text="${consumable.getName()}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-7-1-no-boarders">
                <h4>Инструмент</h4>
                <div>
                    <table class="table-no-border">
                        <tbody>
                        <tr th:each="tool : ${tools}">
                            <td>
                                <a th:href="@{/tools/{id}(id=${tool.getId()})}"
                                   th:text="${tool.getName()}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-7-1-no-boarders">
                <h4>Запчасти</h4>
                <div>
                    <table class="table-no-border">
                        <tbody>
                        <tr th:each="part : ${parts}">
                            <td>
                                <a th:href="@{/parts/{id}(id=${part.getId()})}"
                                   th:text="${part.getName()}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-7-1-no-boarders">
                <h4>Велосипеды</h4>
                <div>
                    <table class="table-no-border">
                        <tbody>
                        <tr th:each="bike : ${bikes}">
                            <td>
                                <a th:href="@{/bikes/{id}(id=${bike.getId()})}"
                                   th:text="${bike.getName()}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{header :: footer}"></div>
</div>
</body>
</html>