<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Create tool</title>-->
<!--</head>-->
<!--<body>-->

<!--<form enctype="multipart/form-data" th:action="@{/tools}" th:method="POST" th:object="${newObject}">-->
<!--    <label for="name">Enter name:</label>-->
<!--    <input type="text" th:field="*{name}" id="name"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>-->
<!--    <br/>-->

<!--    <label for="description">Enter description:</label>-->
<!--    <input type="text" th:field="*{description}" id="description"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>-->
<!--    <br/>-->

<!--    <label for="link">Enter link:</label>-->
<!--    <input id="link" th:field="*{link}" type="text"/>-->
<!--    <div style="color:red" th:errors="*{link}" th:if="${#fields.hasErrors('link')}"></div>-->
<!--    <br/>-->

<!--    <label for="size">Enter size:</label>-->
<!--    <input type="text" th:field="*{size}" id="size"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('size')}" th:errors="*{size}"></div>-->
<!--    <br/>-->

<!--    <label for="model">Enter model:</label>-->
<!--    <input type="text" th:field="*{model}" id="model"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></div>-->
<!--    <br/>-->

<!--    <label for="manufacturers">Choose manufacturer:</label>-->
<!--    <div th:object="${manufacturers}">-->
<!--        <select id="manufacturers" name="manufacturer">-->
<!--            <option th:each="item : ${manufacturers}"-->
<!--                    th:value="${item.getId()}"-->
<!--                    th:text="${item.getName()}">-->
<!--            </option>-->
<!--        </select>-->
<!--    </div>-->

<!--    <label for="picture">Upload new picture:</label>-->
<!--    <input accept="image/*" id="picture" name="newImage" type="file"/>-->
<!--    <br/>-->

<!--    <br/>-->
<!--    <label for="pictures">Choose picture:</label>-->
<!--    <div th:object="${allPictures}">-->
<!--        <select id="pictures" name="picture">-->
<!--            <option th:each="item : ${allPictures}"-->
<!--                    th:value="${item.getId()}"-->
<!--                    th:text="${item.getName()}">-->
<!--            </option>-->
<!--        </select>-->
<!--    </div>-->

<!--    <input type="submit" value="Create!"/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->